body {
    background-color: bisque;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #f0f0f0;
}

.header button {
    background-color: orange;
    width: 50px;
    height: 30px;

}

.header {
    text-align: center;
    background-color: grey;
    padding: 10px;   
    margin: -10px;
}

.search-section button {
    background-color: orange;
}