body {
    background-color:bisque;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}




thead {
    background-color: #f0f0f0;
}

header {
    text-align: center;
    background-color: grey;
    padding: 10px;   
    margin: -10px;
}

h1 {
    color: black;
    font-family:'Courier New', Courier, monospace
}


.search-bar {
    margin-left: auto;
}

.button-section {
    display: flex;
    justify-content: center;
    margin-top: -29px;
    flex-wrap: wrap;
}

#button-1 {
    height: 40px;
    width: 120px;
    background-color: burlywood;
}

#button-2 {
    height: 40px;
    width: 120px;
    background-color: chocolate;
}

#button-3 {
    height: 40px;
    width: 120px;
    background-color:darkorange;
}

#button-4 {
    height: 40px;
    width: 120px;
    background-color:aqua;
}

#button-5 {
    height: 40px;
    width: 120px;
    background-color:blueviolet;
}