<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Movie Analyzer</title>
        <link rel="stylesheet" href="/static/distributor.css">
    </head>

<body>

    <section class="header">
            <h1>Movie Analyzer</h1>
            <button onclick="window.location.href='/'">Home</button>
    </section>

    <section class="search-section">
            <h2>Select Distributor</h2>
            <select id="mySelect">
                <option>Universal Pictures</option>
                <option>Paramount Pictures</option>
                <option>Walt Disney Studios Motion Pictures</option>
                <option>Warner Bros.</option>
                <option>Twentienth Century Fox</option>
            </select>
            <button onclick="getMovies()">Go</button>
    </section>
    <br>

    <div id="table-container">
        
    </div>




</body>
       


<script>
    let movieList = [];
   
    const getData = async () => {
        const res = await fetch("/api/all_movies")
        const data = await res.json();
        movieList = data;
    }

    document.addEventListener("DOMContentLoaded", getData);


    let previousName = null;

    function getMovies() {
        let selectedElement = document.getElementById("mySelect");
        let distributorName = selectedElement.value;
       

        if (previousName === distributorName) {
            return;
        }
        
        previousName = distributorName;

        const container = document.getElementById("table-container");
        container.innerHTML = "";

        const selectedList = movieList.filter(movie => movie.studio === distributorName);

        selectedList.forEach(movie => {
            const table = createMovieTable(movie, distributorName);
            container.appendChild(table);
        }) 
    }

    function createMovieTable(movie, distributorName) {
        let table = document.createElement("table");
        table.className = "movie-table";
        let thead = document.createElement("thead");
        let tbody = document.createElement("tbody");
        table.append(thead, tbody);

        let tableRowHeader = document.createElement("tr");
        let title = document.createElement("th");
        let distributor = document.createElement("th");
        title.textContent = "TITLE\n" + movie["title"];
        distributor.textContent = "DISTRIBUTOR\n" + distributorName;
        tableRowHeader.append(title, distributor);
        thead.append(tableRowHeader);

        let tableRowDomestic = document.createElement("tr");
        let tableRow_UK = document.createElement("tr");
        let tableRow_France = document.createElement("tr");
        let tableRow_Germany = document.createElement("tr");
        let tableRow_Spain = document.createElement("tr");
        let tableRow_Italy = document.createElement("tr");
        let tableRow_Netherlands = document.createElement("tr");
        let tableRow_Switzerland = document.createElement("tr");
        let tableRow_Belgium = document.createElement("tr");
        let tableRow_Australia = document.createElement("tr");
        let tableRow_Sweden = document.createElement("tr");

        let tableDataDomestic = document.createElement("td");
        let tableData_UK = document.createElement("td");
        let tableData_France = document.createElement("td");
        let tableData_Germany = document.createElement("td");
        let tableData_Spain = document.createElement("td");
        let tableData_Italy = document.createElement("td");
        let tableData_Netherlands = document.createElement("td");
        let tableData_Switzerland = document.createElement("td");
        let tableData_Belgium = document.createElement("td");
        let tableData_Australia = document.createElement("td");
        let tableData_Sweden = document.createElement("td");

        tableDataDomestic.colSpan = 2;
        tableData_UK.colSpan = 2;
        tableData_France.colSpan = 2;
        tableData_Germany.colSpan = 2;
        tableData_Spain.colSpan = 2;
        tableData_Italy.colSpan = 2;
        tableData_Netherlands.colSpan = 2;
        tableData_Switzerland.colSpan = 2;
        tableData_Belgium.colSpan = 2;
        tableData_Australia.colSpan = 2;
        tableData_Sweden.colSpan = 2;


        tableDataDomestic.innerHTML = "Domestic      \t\t\t\t\t\t$" + movie["domestic_gross"];
        tableData_UK.textContent = "United Kingdom\t\t\t\t\t$" + movie["uk"];
        tableData_France.textContent = "France        \t\t\t\t\t\t$" + movie["france"];
        tableData_Germany.textContent = "Germany       \t\t\t\t\t\t$" + movie["germany"];
        tableData_Spain.textContent = "Spain         \t\t\t\t\t\t$" + movie["germany"];
        tableData_Italy.textContent = "Italy         \t\t\t\t\t\t$" + movie["italy"];
        tableData_Netherlands.textContent = "Netherlands   \t\t\t\t\t\t$" + movie["netherlands"];
        tableData_Switzerland.textContent = "Switzerland   \t\t\t\t\t\t$" + movie["switzerland"];
        tableData_Belgium.textContent = "Belgium       \t\t\t\t\t\t$" + movie["belgium"];
        tableData_Australia.textContent = "Australia     \t\t\t\t\t\t$" + movie["australia"];
        tableData_Sweden.textContent = "Sweden        \t\t\t\t\t\t$" + movie["sweden"];


        tableRowDomestic.append(tableDataDomestic);
        tableRow_UK.append(tableData_UK);
        tableRow_France.append(tableData_France);
        tableRow_Germany.append(tableData_Germany);
        tableRow_Spain.append(tableData_Spain);
        tableRow_Italy.append(tableData_Italy);
        tableRow_Netherlands.append(tableData_Netherlands);
        tableRow_Switzerland.append(tableData_Switzerland);
        tableRow_Belgium.append(tableData_Belgium);
        tableRow_Australia.append(tableData_Australia);
        tableRow_Sweden.append(tableData_Sweden);

        tbody.append(tableRowDomestic, tableRow_UK, tableRow_France, tableRow_Germany, tableRow_Spain, tableRow_Italy, tableRow_Netherlands, tableRow_Switzerland,
            tableRow_Belgium, tableRow_Australia, tableRow_Sweden);

           return table;
    }




</script>





</html>