<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Movie Analyzer</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <script src="script.js"></script>

        <header>
            <h1 class="title">Movie Analyzer</h1> 
            <div class="search-bar">
            <input type="text" id="searching" placeholder="Search">
            <button>🔍</button>
            </div>
        </header>
        
        <br><br>
        <section class="button-section">
            <button id="button-1">Search By Distributor</button>
            <button id="button-2">Sort By Name</button>
            <button id="button-3">Sort By Domestic Gross</button>
        </section>

        <br>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Worldwide</th>
                    <th>Domestic Gross</th>
                    <th>Foreign Gross</th>
                </tr>
            </thead>
            <tbody>
                <tr> <!-- Section 1 -->
                    <td id="section1-title"></td>
                    <td id="section1-worldwide"></td>
                    <td id="section1-domestic"></td>
                    <td id="section1-foreign"></td>
                </tr>
                <tr> <!-- Section 2 -->
                    <td id="section2-title"></td>
                    <td id="section2-worldwide"></td>
                    <td id="section2-domestic"></td>
                    <td id="section2-foreign"></td>
                </tr>
                <tr> <!-- Section 3 -->
                    <td id="section3-title"></td>
                    <td id="section3-worldwide"></td>
                    <td id="section3-domestic"></td>
                    <td id="section3-foreign"></td>
                </tr>
                <tr> <!-- Section 4 -->
                    <td id="section4-title"></td>
                    <td id="section4-worldwide"></td>
                    <td id="section4-domestic"></td>
                    <td id="section4-foreign"></td>
                </tr>
                <tr> <!-- Section 5 -->
                    <td id="section5-title"></td>
                    <td id="section5-worldwide"></td>
                    <td id="section5-domestic"></td>
                    <td id="section5-foreign"></td>
                </tr>
                <tr> <!-- Section 6 -->
                    <td id="section6-title"></td>
                    <td id="section6-worldwide"></td>
                    <td id="section6-domestic"></td>
                    <td id="section6-foreign"></td>
                </tr>
                <tr> <!-- Section 7 -->
                    <td id="section7-title"></td>
                    <td id="section7-worldwide"></td>
                    <td id="section7-domestic"></td>
                    <td id="section7-foreign"></td>
                </tr>
                <tr> <!-- Section 8 -->
                    <td id="section8-title"></td>
                    <td id="section8-worldwide"></td>
                    <td id="section8-domestic"></td>
                    <td id="section8-foreign"></td>
                </tr>
                <tr> <!-- Section 9 -->
                    <td id="section9-title"></td>
                    <td id="section9-worldwide"></td>
                    <td id="section9-domestic"></td>
                    <td id="section9-foreign"></td>
                </tr>
                <tr> <!-- Section 10 -->
                    <td id="section10-title"></td>
                    <td id="section10-worldwide"></td>
                    <td id="section10-domestic"></td>
                    <td id="section10-foreign"></td>
                </tr>
            </tbody>
        </table>

    </body>

</html>