<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Movie Analyzer</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <script src="script.js"></script>

        <header>
            <h1 class="title">Movie Analyzer</h1> 
            <div class="search-bar">
            <input type="text" id="searching" placeholder="Search">
            <button>🔍</button>
            </div>
        </header>
        
        <br><br>
        <section id="button-section">
            <button>Search By Distributor</button>
            <button>Sort By Name</button>
            <button>Sort By Domestic Gross</button>
        </section>

        <br>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Worldwide</th>
                    <th>Domestic Gross</th>
                    <th>Foreign Gross</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>The Super Mario Bros Movie</td>
                    <td>$1,360,783,014</td>
                    <td>$574,934,330</td>
                    <td>$785,848,684</td>
                </tr>
                <tr>
                    <td>Avatar</td>
                    <td>$2,923,710,108</td>
                    <td>$785,221,649</td>
                    <td>$2,138,489,371</td>
                </tr>
                <tr>
                    <td>Avengers: Endgame</td>
                    <td>$2,799,439,100</td>
                    <td>$858,373,000</td>
                    <td>$1,941,066,100</td>
                </tr>
            </tbody>
        </table>

    </body>

</html>