<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Movie Analyzer</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <script src="script.js"></script>

        <section id="header">
            <h1>Movie Analyzer</h1>
            <input type="text" id="searching" placeholder="Search">
            <button></button>
        </section>

        <button onclick="index.html">Back To Home</button>



        <section id="no-results">
            <h2>No Results</h2>
            <p>There are no matching results for "abcdfgzy"</p>
        </section>







    </body>






</html>